.edit-profile-img {
    text-align: center;
}
.edit-profile-img img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
}
.loadingImg {
    width: 150px;
    height: 150px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
.loadingImg-sm{
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}